
.light-mode {
    --bgColor: #f5f2fd;

    --textColor: #0d0d0d;

    --texthover: #7c7979;

    --bordercolor: #d0d0d2;

   --formcolor:#000000;

  --varcolor: #878787;
}
input::placeholder{
    color: var(--formcolor);
    opacity: 100;


}
.formtext{
    color: var(--textColor);


}

input{
    color: var(--formcolor);
}
.dark-mode {

    --bgColor: #111118;

    --textColor: whitesmoke;

    --texthover: #616161;

    --bordercolor: #c2c2c2;

    --formcolor:#000000;

    --varcolor: rgb(110, 110, 110, 0.3);
}

html {
    scroll-behavior: smooth;
}
select{
    color: var(--formcolor);



}
label {
    color: var(--textColor);




}
option{
    color: var(--formcolor);



}
#creditcardinfo{
    margin-top:20px;



}
#labelforwalmartshoppingcart{
    margin-left: 350px;
    margin-right: 10px;
}
input[type=radio]{

    margin-left: 5px;
    margin-right: 10px;
}

input{

    color: var(--formcolor);

}
body {

    transition: background-color 0.2546s;

    background-color: var(--bgColor);
    color: var(--textColor);




}
#lastname{
    margin-left: 6px;


}


.hero {


    text-align: left;
    padding-left: 50px;
    padding-top: 200px;
    font-size: 170%;
    padding-right: 1050px;
    color: var(--textColor);


}
#about{
    margin-top: 30em;
    margin-bottom: 30em;
}

#info{
    margin-bottom: 30em;
}
#contact{
    margin-bottom: 40px;
}
a #topBtn:hover {
    color: var(--texthover);
}

a:hover {
    color: var(--texthover);
}

.hero:hover {
    color: var(--textColor);
    text-align: left;
    padding-left: 50px;
    padding-top: 200px;
    font-size: 170%;
    padding-right: 1050px;

}

#header {
    
    box-shadow: 0px 2px 10px var(--varcolor);



}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}

#header ul li a:hover {
    color: var(--texthover);
}
#hover:hover {
    color: var(--texthover);
    
}
#hover{
    transition: all 0.3s ease;
}
a {
    color: var(--textColor);

    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}


.btn {
    background-color: #333;
    color: var(--textColor);
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#topBtn:hover {
    color: var(--texthover);

    /* transition: color 0.5s ease;
     */
}

h2 {
    color: var(--textColor);


}

h1 {
    color: var(--textColor);



}

#topBtn {

    color: var(--textColor);





}


#Dark-Mode {
    width: 60px;
    background-color: transparent;
    padding: 0;
    position: fixed;
    left: 460px;
    border: none;



}

#Light-Mode {
    width: 60px;
    background-color: transparent;
    padding: 0;
    position: fixed;
    left: 460px;
    border: none;




}

#about:hover {

    color: var(--textColor);











}
form{
    margin-left:50px;



}
#credit_card{
    display: none;


    
}
#Credit{
    display: none;


    
}
#money_info{
    display: none;
}
#Money{
    display: none;
}

#ssProxy{
    width:97%;
    border:2px solid;
    border-radius:20px;
    
    
}
